<p>toolbar works!</p>
<div class="fondo">
    <nav class="navbar navbar-expand-lg navbar-dark TB">
      <div class="container-fluid text-end">
        <a mat-button class="BC3" href="#home">Nicolas Pendenza</a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a mat-button class="BC2" href="#info">Info</a>
            </li>
            <li class="nav-item">
              <a mat-button class="BC2" href="#pro/sk">Proyectos</a>
            </li>
            <li class="nav-item">
                  <a mat-button class="BC2" href="#pro/sk">Skills</a>
                </li>
                <li class="nav-item">
                  <a mat-button class="BC2" href="#contacto">Contacto</a>
                </li>
    
           </ul>
        </div>
      </div>
    </nav>
    
    <div class="container-fluid TM" id="home">
      <div class="row">
        <div class="col-md-12 text-center">
          <img class="fotoyo" src="https://i.postimg.cc/CLw5D0qf/kono.jpg" alt="x">
        </div>
        
        
      </div>
    </div>
    
    </div>
    