*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo{
    background-image: url(https://i.pinimg.com/originals/12/ec/c7/12ecc78bbf39353201d0d8d40142ad99.jpg);
 
}

.BC2{
    color: white;
    background-color: transparent;
    font-size: small;
    font-family: 'Silkscreen', cursive;
}
.BC3{
    color: white;
    background-color: transparent;
    font-size: x-large;
    font-family: 'Silkscreen', cursive;

}
.fotoyo{
    height: 300px;
    border-radius:150px;
    margin-top: 50px;
    border:5px solid rgb(252, 250, 250);

}

.cartel{
    margin-top: 100px;
    box-shadow: 0px 0px 6px black;
    width: 90%;
    margin-left: 5%;
    background-color: transparent;
}
.mover{
    margin-top: 100px;
}

.NG{
    font-size: x-large;
    font-family: 'DynaPuff', cursive;
   


}

.fondo2{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-nube-cielo-pastel-acuarela-pintada-mano_41066-1948.jpg?w=2000);
}
.TB {
  width: 100%;
  position: fixed;
  z-index: 100;
  background: rgba(0,0,0,0.5);
    }
.FB{
    margin-top: 30px;
}
.NG2{
    font-family: 'DynaPuff', cursive;


    }
    .TM{
        height: 390px;
    }

   .UU{
        width: 40%;
    }
    .c{
        color:white;
        background-color: black;
    }
    .tama{
        width: 90%;
        margin-left: 5%;
    }
.tarado{
    width: 100%;
}
.problema{
    font-size: 20px
}
.prue{
    width: 75%;
}